
___
# Python  Exercises

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
b = input("enter the base value")                      
e = input("enter the exponent value")
a = int(b)**int(e)
print("answer is ",a)

enter the base value2
enter the exponent value3
answer is  8

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
text = "Hi there Sam!"
print(text.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"                                                
diameter = 12742
print("The diameter of {} is {} ".format(planet,diameter))

The diameter of Earth is 12742

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]                    
print(lst[3][1][2][0])

hello

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}          
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# 'hi' == 'bye'

In [ ]:
# True or False  write your answer by using comment
False

# write the table of 12 but print in reverse order
12 X 10 =120 

12 X 9  =108      ...Like this

In [11]:
for i in range(10,0,-1):      
 print(12, '*',i,'=', 12*i)

12 * 10 = 120
12 * 9 = 108
12 * 8 = 96
12 * 7 = 84
12 * 6 = 72
12 * 5 = 60
12 * 4 = 48
12 * 3 = 36
12 * 2 = 24
12 * 1 = 12

 # Q-
 (1 == 2) or (2 == 3) or (4 == 4)

In [12]:
# True of false  write your answer by using commen

if 1 == 2:                       # if else statement 

    print('first')
    
elif 3 == 3:

	print('middle')
    
else:

    print('Last')

middle

# Q-
if 1 == 2:

    print('first')
    
elif 3 == 3:

	print('middle')
    
else:
"
    print('Last')

In [ ]:
#output

# Q-
seq = [1,2,3,4,5]

for jelly in seq:

    print(jelly+jelly)

In [13]:
#output 
seq = [1,2,3,4,5]

for jelly in seq:

    print(jelly+jelly)

2
4
6
8
10

In [14]:
# code to print output

for i in range(1,5):
  print("i is",i)

i is 1
i is 2
i is 3
i is 4

In [ ]:
# Question-
x = [1,2,3,4]

In [15]:
#write code to change this list into new one as output
x = [1,2,3,4,5]
result = [number ** 2 for number in x]

print(result)

[1, 4, 9, 16, 25]

In [ ]:
# Define  Set in your words.
# Answer
Set is a collection of the unordered items in which each elements is unique.

In [ ]:
# what do you think Array and List is same or not ? Explain -
# Answer
Array and list are not same because in list we can store only one type of data type value but in list we can store diffrent type of data value

In [ ]:
my_list = ['your first name', 'your last name']

In [16]:
# write the append to enter your libaray id 
# code-
my_list = ['your first name', 'your last name']
my_list.append("library id")
print(my_list)

['your first name', 'your last name', 'library id']

## Good Job