In [ ]:
base = input("enter the base value")                        # code of 7 to the power of 4
exponent = input("enter the exponent value")
answer = int(base)**int(exponent)
print("answer is ",answer)

enter the base value7
enter the exponent value4
answer is  2401

In [ ]:
text = "Hi there Sam!"
print(text)

Hi there Sam!

In [ ]:
print(text.split())                   # split the string

['Hi', 'there', 'Sam!']

In [ ]:
planet = "Earth"                                                #Enter the planet name and diameter 
diameter = 12742
print("The diameter of {} is {} ".format(planet,diameter))

The diameter of Earth is 12742

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]                     # Grab the world hello from Nested list

print(lst[3][1][2][0])

hello

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}           #Grab the world through divtionary

print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [ ]:
 for i in range(10,0,-1):        #table of 12 in reverse order
     print(12, '*',i,'=', 12*i)

12 * 10 = 120
12 * 9 = 108
12 * 8 = 96
12 * 7 = 84
12 * 6 = 72
12 * 5 = 60
12 * 4 = 48
12 * 3 = 36
12 * 2 = 24
12 * 1 = 12

# hi==byee 
false

In [ ]:

if 1 == 2:                       # if else statement 

    print('first')
    
elif 3 == 3:

	print('middle')
    
else:

    print('Last')

middle

In [ ]:
seq = [1,2,3,4,5]

for jelly in seq:

    print(jelly+jelly)

2
4
6
8
10

In [ ]:
for i in range(1,5):
  print("i is",i)

i is 1
i is 2
i is 3
i is 4

In [ ]:
x = [1,2,3,4,5]
result = [number ** 2 for number in x]

print(result)

[1, 4, 9, 16, 25]



*   Set is a collection of the unordered items in which each elements is unique.



*  Array  and list are not same because in list we can store only one type of data type value but in list we can store diffrent type of data value

In [ ]:
my_list = ['your first name', 'your last name']
my_list.append("library id")
print(my_list)

['your first name', 'your last name', 'library id']