In [103]:
print(7**4)

2401

In [104]:
string = "Hi there Sam!"
words = string.split(' ')
print(words)

['Hi', 'there', 'Sam!']

In [105]:
planet="Earth"
diameter="12742"
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

In [106]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
l1=lst[3]
l2=l1[1]
l3=l2[2]
l4=l3[0]
print(l4)

hello

In [107]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
a=d["k1"]
b=a[3]
c=b["tricky"]
e=c[3]
f=e["target"]
g=f[3]
print(g)

hello

In [108]:
if('hi'=='bye'):  #checking whether 'hi' is equal to 'bye'
   print("true")  #if the condition is true print true
else:
   print("false") #if the condition is false print false

false

In [109]:
for i in range(10,0,-1):
  print("12 x {} = {}".format(i,i*12))

12 x 10 = 120
12 x 9 = 108
12 x 8 = 96
12 x 7 = 84
12 x 6 = 72
12 x 5 = 60
12 x 4 = 48
12 x 3 = 36
12 x 2 = 24
12 x 1 = 12

In [110]:
bool1= (1==2)        #checking the condition and storing true or false value
bool2 = (2==3)
bool3 = (4==4)
OR = bool1 or bool2 or bool3 #using or operator
print("condition is", OR)

condition is True

In [111]:
if(1==2):
  print('first')
elif(3==3):
  print('middle')
else:
  print('Last')

middle

In [112]:
seq = [1,2,3,4,5]
for jelly in seq:
  print(jelly+jelly)

2
4
6
8
10

In [113]:
for i in range(1,5):
  print("i is: {}".format(i))

i is: 1
i is: 2
i is: 3
i is: 4

In [114]:
d = {1:1**2, 2:2**2, 3:3**2,4:4**2}
x = [1,2,3,4]
f=[]
for l in x:
    f.append(d[l])
f

[1, 4, 9, 16]

In [115]:
#A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. 
# it is initialised in curly brackets

In [116]:
#what do you think Array and List is same or not ? Explain -
#Answer- No, array and list are not same as in list we can store elements of any data type and in array we can only store elements of same data type
# list cannot directly handle arithmetic operations but an array can directly handle arithmetic operations

In [117]:
my_list = ['Ankit', 'Rana']
my_list.append(['2226cse1043'])
my_list

['Ankit', 'Rana', ['2226cse1043']]