
___
# Python  Exercises

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
print([s])

['Hi there Sam!']

In [3]:
print(s.split())                #try using spilt function.

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet="Earth"
diameter=12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# 'hi' == 'bye'

In [12]:
# False

# write the table of 12 but print in reverse order
12 X 10 =120 

12 X 9  =108      ...Like this

In [18]:
for multiple in range(10,0,-1):
  x=12*multiple
  print("12 X",multiple,"=",x)

12 X 10 = 120
12 X 9 = 108
12 X 8 = 96
12 X 7 = 84
12 X 6 = 72
12 X 5 = 60
12 X 4 = 48
12 X 3 = 36
12 X 2 = 24
12 X 1 = 12

 # Q-
 (1 == 2) or (2 == 3) or (4 == 4)

In [19]:
# True

# Q-
if 1 == 2:

    print('first')
    
elif 3 == 3:

	print('middle')
    
else:
"
    print('Last')

In [21]:
#middle (as 3 is always equal to itself)

# Q-
seq = [1,2,3,4,5]

for jelly in seq:

    print(jelly+jelly)

In [25]:
#output = 2,4,6,8,10
seq = [1,2,3,4,5]
for jelly in seq:
  print(jelly + jelly)

2
4
6
8
10

In [26]:
seq = [1,2,3,4,5]
for jelly in seq:
  print(jelly + jelly)

2
4
6
8
10

In [ ]:
# Question-
x = [1,2,3,4]

In [27]:
#write code to change this list into new one as output
yoyo = [1,2,3,4]
for numb in seq:
  print(numb*numb)

1
4
9
16
25

In [28]:
# Define  Set in your words.
# according to me sets are used in python to store data . in sets duplication is not allowed.
# in sets data is unorganised. we also cant change data in set if a set is created

In [29]:
# what do you think Array and List is same or not ? Explain -
# major difference between array and list is in array we can not store multiple data types where as in list we can store multiple data types

In [32]:
my_list = ['Pranshu', 'Gupta']

In [33]:
# write the append to enter your libaray id 
lib_id = '2226csit1122'
my_list.append(lib_id)
print(my_list)

['Pranshu', 'Gupta', '2226csit1122']

## Good Job