
___
# Python  Exercises

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
print([s])

['Hi there Sam!']

In [3]:
print(s.split())                   #try using spilt function.

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet="Earth"
diameter=12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# 'hi' == 'bye'

In [10]:
#False

# write the table of 12 but print in reverse order
12 X 10 =120 

12 X 9  =108      ...Like this

In [11]:
for i in range(10,0,-1):
  a=12*i
  print("12 *",i,"=",a)

12 * 10 = 120
12 * 9 = 108
12 * 8 = 96
12 * 7 = 84
12 * 6 = 72
12 * 5 = 60
12 * 4 = 48
12 * 3 = 36
12 * 2 = 24
12 * 1 = 12

 # Q-
 (1 == 2) or (2 == 3) or (4 == 4)

In [12]:
#true

# Q-
if 1 == 2:

    print('first')
    
elif 3 == 3:

	print('middle')
    
else:
"
    print('Last')

In [13]:
#output 
if 1 == 2:
  print('first')
elif 3 == 3:
  print('middle')
else:
   print('Last')

middle

# Q-
seq = [1,2,3,4,5]

for jelly in seq:

    print(jelly+jelly)

In [14]:
#output 
#2
#4
#6
#8
#10

In [15]:
# code to print output
seq = [1,2,3,4,5]

for jelly in seq:
  print(jelly+jelly)

2
4
6
8
10

In [16]:
# Question-
x = [1,2,3,4]

In [17]:
# Define  Set in your words.
# Answer
#A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [18]:
# what do you think Array and List is same or not ? Explain -
# Answer
#List is used to collect items that usually consist of elements of multiple data types. An array is also a vital component that collects several items of the same data type.

In [19]:
my_list = ['your first name', 'your last name']

In [20]:
# write the append to enter your libaray id 
# code-
lib='2226cse1136'
my_list.append(lib)
print(my_list)

['your first name', 'your last name', '2226cse1136']

## Good Job