
___
# Python  Exercises

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
s=7*7*7*7
s

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"
str=s.split(" ")
print (str)

['Hi', 'there', 'Sam!']

In [ ]:
                     #try using spilt function.

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter =12742
print("The diameter of {} is {}".format(planet,diameter))

The diameter of Earth is 12742

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
l=len(lst)
lst1=lst[3]
l2=len(lst1)
lst2=lst1[1]
lst2[2]

['hello']

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:
d1=d['k1']
d2=d1[3]
d3=d2['tricky']
d4=d3[3]
d5=d4['target']
d5[3]

'hello'

# 'hi' == 'bye'

In [ ]:
# True or False  write your answer by using comment
#false

# write the table of 12 but print in reverse order
12 X 10 =120 

12 X 9  =108      ...Like this

In [ ]:
m=12
for i in range(10,0,-1):
  print("{} * {} = {} ".format(m,i,m*i))

12 * 10 = 120
12 * 9 = 108
12 * 8 = 96
12 * 7 = 84
12 * 6 = 72
12 * 5 = 60
12 * 4 = 48
12 * 3 = 36
12 * 2 = 24
12 * 1 = 12

 # Q-
 (1 == 2) or (2 == 3) or (4 == 4)

In [ ]:
# True of false  write your answer by using comment
#true

# Q-
if 1 == 2:

    print('first')
    
elif 3 == 3:

	print('middle')
    
else:
"
    print('Last')

In [ ]:
#output    
  #middle

# Q-
seq = [1,2,3,4,5]

for jelly in seq:

    print(jelly+jelly)

In [ ]:
seq=[1,2,3,4,5]
for jelly in seq:
  print(jelly+jelly)

2
4
6
8
10

In [ ]:
# output
2
4
6
8
10

In [ ]:
# code to print output
for i in range(1,6): 
  print( i*2)

2
4
6
8
10

In [ ]:
# Question-
x = [1,2,3,4]

In [ ]:
#write code to change this list into new one as output
x=[1,2,3,4]
ret=[]
for i in range(4):
  ret.append(x[i]**2)
print (ret)

[1, 4, 9, 16]

In [ ]:
# Define  Set in your words.
# Answer
# set is a kind of a list we say or smiliar to list but the items we store in set is immutable which means they are not changeable but we can add or subtaract items in set.

In [ ]:
# what do you think Array and List is same or not ? Explain -
# Answer
#not same
#list is used to store elements of  different data types while array is used to store elements of same data types.

In [ ]:
my_list = ['your first name', 'your last name']

In [ ]:
# write the append to enter your libaray id 
# code-
my_list=['Swatantra','Agarwal']
my_list.append('CSE(AI&ML)1078')
my_list

['Swatantra', 'Agarwal', 'CSE(AI&ML)1078']

## Good Job